{% extends 'app/base.html' %}
{% block style %}

{% endblock %}
{% load static %}
{% block body %}
<div class="d-flex flex-column flex-root" id="kt_app_root">
    <style>
        body {
            background-image: url('/static/assets/media/auth/bg4.jpg');
        }

        [data-bs-theme="dark"] body {
            background-image: url('/static/assets/media/auth/bg6-dark.jpg');
        }
    </style>

    <div class="d-flex flex-column flex-column-fluid flex-lg-row">
        <div class="d-flex flex-center w-lg-50 pt-15 pt-lg-0 px-10">
            <div class="d-flex flex-center flex-lg-start flex-column">
                <a class="mb-7">
                    <!-- <img alt="Logo" src="/static/assets/media/logos/custom-3.svg"/> -->
                </a>
                <h2 class="bg-gray-100 p-5 rounded-3 text-white display-3 fw-bold m-0 d-none d-lg-flex">
                    🎮💀⚡
                </h2>
                <!-- <h2 class="bg-gray-100 p-5 text-white display-5 fw-bold m-0 d-none d-lg-flex">
                    🎄🍕⛺
                </h2>
                <h2 class="bg-gray-100 p-5 rounded-3 text-white display-5 fw-bold m-0 d-none d-lg-flex">
                    ✨🎨🎩
                </h2> -->
            </div>
        </div>

        <div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12 p-lg-20">
            <div class="bg-body d-flex flex-column align-items-stretch flex-center rounded-4 w-md-600px p-20">
                <div class="d-flex flex-center flex-column flex-column-fluid px-lg-10 pb-15 pb-lg-20">
                    <div class="form w-100" novalidate="novalidate" id="kt_sign_in_form">
                        <div class="text-center mb-11">
                            <h1 class="text-dark fw-bolder mb-3">
                                Sign In
                            </h1>
                            <div class="text-gray-500 fw-semibold fs-6">
                                Your Social Campaigns
                            </div>
                        </div>

                        <div class="row g-3 mb-9">
                            <div class="col-md-12">
                                <a href="/accounts/google-social-login/" class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
                                    <img alt="Logo" src="/static/assets/media/svg/brand-logos/google-icon.svg" class="h-15px me-3"/>
                                    Sign in with Google
                                </a>
                            </div>
                        </div>

                        <div class="separator separator-content my-14">
                            <span class="w-125px text-gray-500 fw-semibold fs-7">Or with email</span>
                        </div>

                        <div class="fv-row mb-8">
                            <input type="text" placeholder="username" name="username" autocomplete="off" class="form-control bg-transparent"/>
                        </div>

                        <div class="fv-row mb-8">
                            <input type="password" placeholder="Password" name="password" autocomplete="off" class="form-control bg-transparent"/>
                        </div>

                        <!-- <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
                            <div></div>
                            <a href="reset-password.html" class="link-primary">
                                Forgot Password ?
                            </a>
                        </div> -->

                        <div class="d-grid mb-10">
                            <button id="kt_sign_in_submit" class="btn btn-primary">
                                <span class="indicator-label">
                                    Sign In
                                </span>
                                <span class="indicator-progress">
                                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </div>

                        <div class="text-gray-500 text-center fw-semibold fs-6">
                            Not a Member yet?
                            <a href="/accounts/signup" class="link-primary">
                                Sign up
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
