{% extends 'app/base.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block body%}
    <!--begin::Start sidebar-->
    <div class="d-flex justify-content-center"  >
        <!--begin::User menu-->
        <div style="width: 90%;" class="card my-15 w-lg-75">
            <!--begin::Body-->
            <div class="card-body pt-15 px-0 ">
                <!--begin::Member-->
                <div class="d-flex flex-column text-center mb-9 px-9 ">
                    <!--begin::Photo-->
                    <div class="d-flex justify-content-center">
                        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_iyicd2xy.json" mode="bounce" background="transparent"  speed="2"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
                    </div>
                    <!--end::Photo-->

                    <!--begin::Info-->
                    <div class="text-center">
                        <div class="d-flex justify-content-center">
                            <i class="ki-solid ki-chart text-dark fs-1 px-2"></i>
                            <h1 class="text-dark">Waiting Lounge</h1>
                            <i class="ki-solid ki-chart text-dark fs-1 px-2"></i>
                        </div>
                        <span class="text-muted d-block fw-bold fs-2">
                            <i class="ki-duotone ki-triangle fs-1">
                                <i class="path1"></i>
                                <i class="path2"></i>
                                <i class="path3"></i>
                            </i>
                            Capacity 
                            <i class="ki-duotone ki-triangle fs-1">
                                <i class="path1"></i>
                                <i class="path2"></i>
                                <i class="path3"></i>
                            </i>

                            <span class="text-danger d-flex justify-content-center fw-bold">
                            {% for star in ""|center:capacity %}
                                <i class="ki-duotone ki-star text-muted fs-1"></i>
                            {% endfor %}
                            </span>
                        </span>
                    </div>
                    <!--end::Info--> 
                    
                    <span id="kt_typedjs_example_1" class="fs-1 fw-bold"></span>
                </div>
                <!--end::Member-->

                       
            </div>
            <!--end::Body-->
        </div>
        <!--end::User menu-->
    </div>
    <!--end::Start sidebar-->

    {% block script %}

    <script>
        const room_name ="{{room_name}}";
        const capacity = "{{capacity}}";
        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/room/' +
            room_name +
            '/'
        )

        function leave(){
            chatSocket.send(JSON.stringify({
                'room_name': room_name,
                'active_counter': parseInt("{{active_counter}}")-1,
            }))
            location.href = "/games/leave/"+room_name;
        }

        chatSocket.onopen =()=>{
            chatSocket.send(JSON.stringify({
                'room_name': room_name,
                'active_counter': '{{active_counter}}',
            }))
        }
        function complete(){
            location.href = "/games/startingGame/"+room_name;
        }
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            document.querySelector('#active_counter').innerHTML = data.active_counter;
            if (parseInt(data.active_counter)==capacity){
                complete();
            }
        }
    </script>
    {% endblock %}

{% endblock %}