{% extends 'app/base.html' %}
{% load static %}

{% block style %}
<style>
    .ml4 {
    position: relative;
    font-weight: 900;
    }
    .ml4 .letters {
    /* position: absolute; */
    margin: auto;
    left: 0;
    right: 0;
    opacity: 0; 
    }
</style>
{% endblock %}

{% block body%}
    <!--begin::Start sidebar-->
    <div class="d-flex justify-content-center"  >
        <!--begin::User menu-->
        <div style="width: 90%;" class="card my-15 w-lg-75">
            <!--begin::Body-->
            <div class="card-body pt-15 px-0 " id="lottie-background" >
                <!--begin::Member-->
                <div class="d-flex flex-column text-center mb-9 px-9 ">
                    <!--begin::Photo-->
                    <div class="d-flex justify-content-center">
                        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_iyicd2xy.json" mode="bounce" background="transparent"  speed="2"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
                    </div>
                    <!--end::Photo-->

                    <!--begin::Info-->
                    <div class="text-center">
                        <div class="d-flex justify-content-center">
                            <i class="ki-solid ki-chart text-dark fs-1 px-2"></i>
                            <h1 class="text-dark">Waiting Lounge</h1>
                            <i class="ki-solid ki-chart text-dark fs-1 px-2"></i>
                        </div>
                        <span class="text-muted d-block fw-bold fs-2">
                            <i class="ki-duotone ki-triangle fs-1">
                                <i class="path1"></i>
                                <i class="path2"></i>
                                <i class="path3"></i>
                            </i>
                            <span>Capacity</span>
                            <i class="ki-duotone ki-triangle fs-1">
                                <i class="path1"></i>
                                <i class="path2"></i>
                                <i class="path3"></i>
                            </i>

                            <span class="text-danger d-flex justify-content-center fw-bold">
                            {% for star in ""|center:capacity %}
                                <i class="ki-duotone ki-star text-muted fs-1"></i>
                            {% endfor %}
                            </span>
                        </span>
                    </div>
                    <!--end::Info--> 
                    <div class="d-flex justify-content-center mt-4">
                        <div class="mb-0 lh-1">
                            <span class="badge badge-success badge-circle w-10px h-10px me-1 pulse pulse-secondary">
                                <span class="pulse-ring"></span>
                            </span>
                            <span class="fs-7 fw-semibold text-muted" id="active_counter">0</span>
                            <span class="fs-7 fw-semibold text-muted">Player is in the lobby</span>
                        </div>
                    </div>
                </div>

                <!--end::Member-->
            </div>
            <!--end::Body-->
            <!--begin::Underline-->
            <span class="d-flex position-relative">
                <!--begin::Line-->
                <span class="d-inline-block position-absolute h-8px bottom-0 end-0 start-0 bg-secondary translate rounded"></span>
                <!--end::Line-->
            </span>
            <!--end::Underline-->
        </div>
        <!--end::User menu-->
    </div>
    <!--end::Start sidebar-->

{% endblock %}

{% block script %}
    <script>
        const room_name ="{{room_name}}";
        const capacity = "{{capacity}}";
        var wsorwss = "";
        if (window.location.protocol=="http:"){
            wsorwss="ws://"
        }else{
            wsorwss="wss://"
        }
        // alert(wsorwss+window.location.host +'/ws/InGame/' +room_name +'/')
        const chatSocket = new WebSocket(
            wsorwss +
            window.location.host +
            '/ws/room/' +
            room_name +
            '/'
        )

        function leave(){
            chatSocket.send(JSON.stringify({
                'room_name': room_name,
                'active_counter': parseInt("{{active_counter}}")-1,
            }))
            location.href = "/games/leave/"+room_name;
        }

        chatSocket.onopen =()=>{
            chatSocket.send(JSON.stringify({
                'room_name': room_name,
                'active_counter': '{{active_counter}}',
            }))
        }
        function complete(){
            location.href = "/games/startingGame/"+room_name;
        }
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            document.querySelector('#active_counter').innerHTML = data.active_counter;
            if (parseInt(data.active_counter)==capacity){
                complete();
            }
        }
    </script>
{% endblock %}